body{
    width: 100%;
    background: rgba(94,94,94,0.07);
}

input{
    height: 2em;
    background: rgba(91,94,91,0);
}

form input,select{
    height: 3em;
    background: #bbffec;
    border-radius: 4px;
    text-align: center;
    margin: 1em 0;
}

table {
    background: rgba(161,255,243,0.11);
    width: 86%;
    margin: 0 7%;
    }

table th{
    background: rgba(94,94,94,0.21);
    font-size: large;
    text-align: center;
}
table tr{
    background: rgba(136,245,247,0.41);
    border-radius: 4px;
    text-align: justify;
    height: 2em;
}

h3{
    text-align: center;
}

div#info-message h2{
    background: #8aec44;
    height: 2em;
    text-align: center;
    font-size: x-large;
    width: 100%;
}

form{
    text-align: center;
    padding: 2em;
}

